:root {
    --displaywidth: 100px;
}

.Chessboard div.rank div.square {
    position: relative;
    display: block;
    width: calc(var(--displaywidth)*0.6) !important;
    height: calc(var(--displaywidth)*0.6) !important;
    --squarewidth: calc(var(var(--displaywidth))*0.6) !important;
}

.Chessboard div.rank div.square.light {
    background: #bef;
}

.Chessboard div.rank div.square.dark {
    background: radial-gradient(#bef 15%, #eee 25%, brown 35%, #121212);
}

.Chessboard div.rank div.square img.piece {
    position: relative;
    --squarewidth: inherit;
    --piecewidth: calc(var(--displaywidth)*0.5);
    left: calc((var(--squarewidth) - var(--piecewidth))/2);
    width: calc(var(--displaywidth)*0.5);
    --pieceheight: 1vmax;
    --pieceheight-2: max-height;
    top: calc((var(--squarewidth) - var(--pieceheight))/2);
}

.Chessboard div.rank {
    display: flex;
}