:root {
    --displaywidth: 100px;
}

.Chessboard div.rank div.square {
    position: relative;
    display: block;
    width: calc(var(--displaywidth)*0.6) !important;
    height: calc(var(--displaywidth)*0.6) !important;
}

.Chessboard div.rank div.square.light {
    background: #bef;
}

.Chessboard div.rank div.square.dark {
    background: radial-gradient(#bef 15%, #eee 25%, brown 35%, #121212);
}

.Chessboard div.rank div.square img.piece {
    position: relative;
    top: 0px;
    width: calc(var(--displaywidth)*0.4);
}

.Chessboard div.rank {
    display: flex;
}